@import 'variables.scss';

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;

    &.flex-50 {
        flex-basis: 50%;
    }

    &.flex-align-center {
        align-items: center;
    }
}

input {
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid $gray-lighter;
    width: 100%;

    &:hover {
      border-bottom-color: lighten($brand-primary, 30);
    }

    &:focus {
      border-bottom-color: $brand-primary;
    }
}
