@import 'variables.scss';

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;

    &.flex-50 {
        flex-basis: 50%;
    }

    &.flex-align-center {
        align-items: center;
    }
}
